*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100vw;
}
.section1{
    height: 100vh;
    width: 100vw;
    background: rgba(255, 0, 0, 0.288);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 600px;
    width: 500px;
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bubble{
   height: 70%;
   width: 100%;
}
.c1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: rgb(14, 86, 82);
    color: white;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.c2{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 46%;
    left: 39%;
}
.c3{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background:lightseagreen;
    color: rgb(6, 72, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 53%;
    left: 50%;
}

.naam{
    padding: 25px;
}


.section2{
    height: 100vh;
    width: 100%;
    background: rgb(0, 255, 149);
}
a{
    padding-bottom: 20px;
    padding-left: 10px;
    font-size: 20px;
    color: rgb(12, 107, 102);
}