*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100vh;
    width: 100vw;

}
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px;
   background: lightslategray;
}
nav .right{
    display: flex;
    gap: 25px;
    cursor: pointer;
}
.content{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background: rgba(43, 51, 215, 0.705);
}
.content h1{
    font-size: 80px;
}
.content h2{
    font-size: 30px;
}
.content button{
    padding: 12px 14px;
    border-radius: 12px;
    border: none;
    background: white;
    color: rgba(0, 0, 0, 0.824);
}