*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100vh;
}
.section1{
    height: 100vh;
    width: 100vw;
    background: rgba(255, 0, 0, 0.491);
    background-image: url(WhatsApp\ Image\ 2025-11-28\ at\ 19.05.49_da106693.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    padding-left: 20px;
   color: white;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-right: 180px;
    font-size: 25px;
    color: white;
}
.right button h3{
    padding: 7px 28px;
    border: none;
    background: red;
    color: white;

}


.sidebar{
    height: 100%;
    width: 5%;
    background: rgb(32, 36, 32);
    padding-top: 170px;
}
.sidebar h3{
    padding-left: 22px;
    padding-top: 10px;
    color: red;
}
.content{
    color: white;
    position: absolute;
    top: 20%;
    left: 10%;
    
}
.content h1{
    font-size: 80px;
}
.content button{
    padding: 10px 32px;
    color: white;
    background: red;
    border: none;
}
.content2{
    position: absolute;
    top: 60%;
    left: 20%;
    height: 35%;
    width: 90%;
    margin: 20px;
   color: white;
}
.content p{
   padding-top: 120px;
   padding-right: 100px;
}




.section2{
    height: 100vh;
    width: 100vw;
    background: yellow;
}