<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
<form action="submit-user" method="post">
    <input type="text" placeholder="Enter name.." name="name">
    <br>
    <input type="text" placeholder="Enter age.." name="age">
    <br>
    <input type="text" placeholder="Enter email" name="email">
    <br>
    <button>Add User</button>
</form>
</body>
</html>